* {
    margin: 0;
    padding: 0
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #ffffff;
  }

.bg {
    background-image: url("../img/bg.webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    width: 350px;
    background-color:  rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    transition: all 0.8s;
    border: solid 2px rgba(255, 255, 255, 0.8);
}

.image img {
    transition: all 0.8s
}

.card:hover .image img {
    transform: scale(1.1)
}

.name {
    font-size: 23px;
    font-weight: bold
}

.icons i {
    font-size: 30px
}

.link {
    color: white;
}

.link:hover {
    color: #AE853E;
}

.btn-custom {
    font-weight : bold ;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 2px white;
    font-size: 14px;
}
